*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea/gradle.xml~8ecd0ab523aa5fe36584526176d2ea93217c7031
.idea/gradle.xml
app/google-services.json
secrets.properties
